
.main {
  clear: both;
  align-items: center;
  text-align: center;
}

.detail_modal {
  margin: auto;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  background-color: none;
  border: 1px solid;
  padding: 20px;
  width: 80%;
  max-width: 700px;
}

.recipe_image {
  width: 80%;
  height: 80%;
  max-width: 720px;
  max-height: 360px;
  min-width: 180px;
  min-height: 90px;
}

.back__btn {
  background-color: none;
  color: var(--button-font);
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  height: 30px;
  width: 150px;
  border-radius: 1px;
}
