:root {
  --background-color: #ffffff;
  --font-color: #000000;
  --hover-color: #ff0000;
  --active-color: #0000ff;
}

* {
  box-sizing: border-box;
  margin: auto 10px;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.main {
  clear: both;
  align-items: center;
  text-align: center;
}

a {
  color: var(--font-color);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--hover-color);
}

a:active {
  color: var(--active-color);
}

h1 {
  text-align: center;
}

.detail_modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background-color: var(--background-color);
  border: 1px solid;
  padding: 20px;
  width: 80%;
  max-width: 700px;
}

.recipe_image {
  width: 80%;
  height: 80%;
  max-width: 720px;
  max-height: 360px;
  min-width: 180px;
  min-height: 90px;
}